<a href="https://colab.research.google.com/github/excit/TUW/blob/main/ML_0_Dataset_Description.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#!pip install ucimlrepo

In [27]:
import pandas as pd
import numpy as np
from ucimlrepo import fetch_ucirepo
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## 1. Describing dataset for classification: [Census Income](https://archive.ics.uci.edu/dataset/2/adult)

Purpose is to predict whether annual income of an individual exceeds $50K/yr based on census data.

### 1.1.Importing dataset from the source

In [22]:
## fetch dataset
#adult = fetch_ucirepo(id=2)
#
## data (as pandas dataframes)
#df = adult.data.features
#y = adult.data.targets
#
## metadata
#print(adult.metadata)
#
## variable information
##print(adult.variables)

In [63]:
df = pd.read_csv('/content/drive/MyDrive/Colab/TUW/ML/ML 0/adult/adult.data',
                 names=['age', 'workclass', 'fnlwgt', 'education', 'education-num',
                        'marital-status', 'occupation', 'relationship', 'race', 'sex',
                        'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
                        'class'],
                 index_col=False)

In [64]:
# what does it look like in pandas
# column "class" is the one we have to predict

df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [53]:
df.workclass.unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [67]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'class'],
      dtype='object')

In [70]:
# getting rid of whitespace in object columns

cols = ['age', 'workclass', 'education',
        'marital-status', 'occupation', 'relationship', 'race', 'sex',
        'native-country', 'class']
df[cols] = df[cols].apply(lambda x: x.astype(str).str.strip())
df.workclass.unique()

array(['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov',
       'Local-gov', '?', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

In [52]:
#df = df.drop(axis=0, index=0)
#df.head()

In [71]:
# dataset data types

df.dtypes

age               object
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
class             object
dtype: object

### 1.2 Checking for qnt of missing values

Empty values in this dataset stored with '?' value. Firstly we have to replace it with NaN. So pandas finctions would work correctly

In [72]:
df = df.replace({'?': np.nan})
df.workclass.unique()

array(['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov',
       'Local-gov', nan, 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

In [73]:
df.isnull().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
class                0
dtype: int64

### 1.3 Checking capital-gain, capital-loss, hours-per-week